*.lps
*.res
/Design
ideas.txt
Binary/Atlas.png
/backup
/lib
/Units/backup
/Units/SpriteDef/backup
/Units/Deleted
Binary/LittleRedRidingHood.dbg
Binary/LittleRedRidingHood.exe
Binary/LittleRedRidingHood
*.zip
